name: SSLCheck

on: 
  push:
    branches: 
      - master
  schedule:
    - cron: '0 21 * * *' 

jobs:
  CheckSSL:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Setup node
      uses: actions/setup-node@v1
      with:
        node-version: '10'

    - name: Install & Build
      run: |
        npm i
        npm run build
        cd CheckSSL
        chmod +x checker.sh
        ./checker.sh mhuig.top blog.mhuig.top friends.mhuig.top ssl.mhuig.top
        cp -rf ./output/ct.json ../public/ct.json
        echo "ssl.mhuig.top" > ../public/CNAME
        
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./public
        user_name: 'github-actions[bot]'
        user_email: 'github-actions[bot]@users.noreply.github.com'